{% extends 'navigationbar.html' %}

{% block content %}

<div class="container mt-3">
    <h2 class="text-center">Add Doctor</h2>
        <form method="post">
            {% csrf_token %}
            <label for="">Doctor Name</label>
            <input type="text" class="form-control mb-3" name="name">

            <label for="">Contact</label>
            <input type="text" class="form-control mb-3" name="contact">

            <label for="">Specialization</label>
            <input type="text" class="form-control mb-3" name="special">

            <input type="submit" class="btn btn-outline-primary" value="Submit">
        </form>
</div>

{% if error 'No' %}
    <script>
        alert('Record Save sucessfully')
        window.location = ('{url 'view_doctor'}')
    </script>
{% endif %}

{% if error 'Yes' %}
    <script>
        alert('Something Went Wrong!! Try again')
    </script>
{% endif %}

{% endblock  %}